/* ========== FONTS / COLORS ========== */

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Orbitron&display=swap');

/* #fonts{
    font-family: 'Lato', sans-serif;
    font-family: 'Orbitron', sans-serif;
}

#colors{
    color: #2C2C2C, #FDF860, #000000, #FFFFFF, #97F5BB, #525DF4;
} */

/* ========== GENERAL ========== */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;
    font-family: 'Orbitron', sans-serif;
}

/* ========== CLASSES ========== */

.scorebox{
    background-color: #000000;
    color: #FDF860;
    font-size: 150px;
    border-radius: 30px;
    padding: 114px 0;
    margin: 37px;
}

/* ========== #Scorekeeper & #nowrap ========== */

#scorekeeper{
    background-color: #2C2C2C;
    width: 1440px;
    height: 1024px;
    margin: 0 auto;
    text-align: center;
}

#nowrap{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap:224px;
    height: 720px;
}

/* ========== #home & #away ========== */

#homename{
    position: relative;
    border: 5px solid #97F5BB;
    border-radius: 40px;
    margin: 123px 0 137px;
}

#awayname{
    position: relative;
    border: 5px solid #525DF4;
    border-radius: 40px;
    margin: 123px 0 137px;
}

p{
    display: inline-block;
    position: absolute;
    left: 50px;
    bottom: -24px;
    font-size: 37px;
    color: #FFFFFF;
    background-color: #2C2C2C;
}



/* ========== BUTTONS ========== */

button:not(#reset,#teamname){
    font-family: 'Lato', sans-serif;
    border-radius: 20px;
    font-size: 37px;
    padding: 31px;
    margin: 0 10px;
}

#reset, #teamname{
    width: 122px;
    height: 39px;
    background: #FFFFFF;
    border-radius: 10px;
    margin-top: 10px;
}

ul{
    margin-top: 40px;
}

li{
    list-style: none;
}

#away button{
    background-color: #525DF4;
}

#home button{
    background-color: #97F5BB;
}